<html>
  <head>
    <!-- META HTTP-EQUIV="refresh" CONTENT="120"  -->
    <style>
      * { padding: 1px; margin: 0px; }
      .ast{ background-color:white;
      color:black; font: 78px MS Sans Serif;
      padding: 1px;
      margin: 0px;
      width:350px;
      height:300px;
      text-align:center;
      }
      .fit {
      /* set relative picture size */
      max-width: 100%;
      max-height: 100%;
      }
      .floated_img { float: left; }
      .floated_cam { float: right; }
      .center {
      display: block;
      margin: auto;
      }
    </style>
    
    <script>
      function startTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      var D = today.getDate();
      var M = today.getMonth()+1;
      var Y = today.getFullYear();
      if (m < 10) {m = "0" + m};
      if (s < 10) {s = "0" + s};
	 document.getElementById('clock').innerHTML=h+":"+m+":"+s +"<br>"+ D+"."+M+"."+Y;
      var t = setTimeout(startTime, 500);
          }
 </script>
  </head>
  
  <body bgcolor="576174" onload="startTime()">

   <div class="container">

    
    <div class="floated_cam">
      <!--a href="http://localhost:9180"><img src="logocamera.png" ></a-->
    </div>
    <div class="floated_img">
      <div id="clock" class="ast"> clock: </div >
    </div>

    

    <div id="latest_data"></div>
    </div>
    <!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script-->
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
    <!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.6/d3.min.js"></script-->
    <script type="text/javascript" src="static/js/d3.min.js"></script>
    <script type="text/javascript" src="static/js/application5min.js"></script>
    
  </body>
</html>
